@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap');

body {
    font-family: 'Quicksand', sans-serif;
    
}

.container {
    display: inline;
    display:flex;
    flex-direction: column;
    max-width:700px;
    margin: auto;
    padding-bottom: 10rem;
    
}
.header {
    margin: auto;
    color: var(--header-text);
    text-align: center;
}

.hero {
    padding: 2rem;
}

.hero .hero-img {
    max-width: 350px;
    display: block;
    margin: auto;
}

.hero .hero-heading {
    text-align: center;
    padding-top: 1rem;
    color: var(--dark-gray);
}



p, em{
    font-size: 1.2rem;
}



#method-name{
    font-size: 1.5rem;
    color: rgb(118, 118, 118);
}

#method{
    display: block;
    width: auto;
    background-color: rgb(255, 248, 240);
    padding: 1rem;
    line-height: 140%;

}


