
:root {
    
    
    --header-text: #411c1c;
}
/*
hr {
    margin: 2rem 0rem;
}

.container {
    margin: auto;
    max-width: 50%;
    margin-bottom: 1rem;
}

.fluid-container {
    margin: 0rem 2rem;
}
*/







/*  section  */


/*
.off-white {
    background-color: var(--offwhite-color);
    padding: 2rem 0;
   
    transition: 0.5s ease;
}
*/

/* * footer  */

/*.fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
  }
  
  .fa:hover {
      opacity: 0.7;
  }
  
*/
/*
#mark{
    display: inline;
    border: 1px solid #206385;
    width: 50%;
    color: white;
    padding: 0.3rem 0.5rem;
    border-radius: 0.2rem;
    background-color: #206385;
    font-size: 0.6rem;
    margin-top: 4rem;
}
*/

/*
@media only screen and (max-width: 400px) {
    body {
      background-color: lightblue;
    }

    section h2{
        font-size: 1rem;;
    }

    .navbar{
        margin-right: 0;
    }

    .navbar a{
        font-size: 0.7rem;
    }

    #mark{
        font-size: 0.4rem;
    }
  }
  */