@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap');


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

 :root {
    --primary-color: #854220;
    --button-text-color: #ffffff;
    --header-text: #adadad;
    --secondary-color: #cebdb4;
}


body {
    
        font-family: 'Quicksand', sans-serif;

    max-width: 100%;
    margin: auto;
    background-color:#DBEAFE; ;
}



/*navbar*/
.brand-name
{
    font-weight: bold;
   
}
.navbar {
    background-color:black;
    color:white;
    padding: 2rem 1rem;
    
    width: 100%;
}

.active {
    font-weight: bold;
    border-bottom: 0.1rem solid  white;
}

.navbar li {
    display: inline;
    margin: 0 1rem;
}

.navbar ul {
    text-align: right;
}

.navbar a {
    color: white;
    font-size: larger;
}

.section {
    margin: 2rem 0;
}




/*all  links styling*/
a {
    text-decoration: none;
}

.links {
    text-decoration: none;
    color: var(--button-text-color);
}

.link-primary {
    padding: 0.6rem 1.2rem;
    background-color: black;
    color: var(--button-text-color);
    border-radius: 2rem;
}

.link-secondary {
    padding: 0.6rem 1.2rem;
    border-radius: 2rem;
    border: 1px solid var(--primary-color);
    color: var(--primary-color);
}



/*list styling*/
.list-unordered {
    list-style-type: none;
}
ul {
    list-style: none;
}



/* * header */

.hero-content {
    display: flex;
    margin: auto;
    max-width: 90%;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.main-text {
    flex:50%;
    margin: 7rem 0;
    padding: 1rem;
}

.main-text h1 {
    font-size: 4rem;
    color: #2e0604;
    line-height: 60px;
    text-align: left;
}

.main-text p {
    color: #643e28;
    font-size: 1.9rem;
}



.model-sm img {
    width: 100%;
    /* height: 100%; */
    height: auto;
    max-width: 700px;
    margin-top: 4rem;
}


/* * about-me */

.about-me {
    display: flex;
    margin: auto;
    
    
    
    max-width: 70%;
    
    margin-bottom: 4rem;
    margin-top: 2rem;
    border: 1px solid var(--primary-color);
    padding: 0.5rem;
    background-color: white
}

.about-me-text {
   
   
    padding: 3rem;
    margin: auto;
    max-width: 90%;
    text-align: center;
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
    padding: 2rem;
}

.about-me-text p {
    font-size: 1.1rem;
    color: #643e28;
    line-height: 1.3rem;
    
}


.about-me-text h3 {
    font-size: 1.5rem;
    color: #020000;
    margin-bottom:0.5rem;
}




/* * projects */

.projects {
    margin: auto;
    max-width: 70%;
    text-align: center;
    margin-bottom: 4rem;
    margin-top: 2rem;
    border: 1px solid var(--primary-color);
    padding: 2rem;
    background-color: white;
}

.projects h2 {
    margin: 0.5rem;
}

.projects p {
    line-height: 1.5rem;
    /* margin-bottom: 2rem; */
}

.projects a {
    margin-top: 1.5rem;
    margin-right: 1rem;
    display: inline-block;
}


/* * blogs*/

.blogs {
    margin: auto;
    max-width: 70%;
    text-align: center;
    margin-bottom: 4rem;
    margin-top: 2rem;
    border: 1px solid var(--primary-color);
    padding: 2rem;
    background-color: white;
}

.blogs h2 {
    margin: 1.5rem;
}

.blogs p {
    line-height: 1.5rem;
}

.blogs a {
    display: inline-block;
    margin-top: 1.5rem;
}


/* * footer  */
.footer {
    background-color: black;
    padding: 1.3rem;
    text-align: center;
    border-top-right-radius: 1rem;
   
}

.footer h3 {
    color: #ffffff;
}

.footer-list li {
    display: inline;
    margin: 0 0.5rem;
}

footer i {
    color: white;
    font-size: 2rem;
   margin: 1rem;
    
}




/* ******************************************************** */


@media screen and (max-width: 800px) {

    .about-me {
        display: block;
        margin-top: 0;
        margin-bottom: 0;
    }
    .about-me-text {
        padding: 0;
    }
    .about-me-text p {
        font-size: 1.1rem;
        color: #1c3548;
        line-height: 1.3rem;
    }
    .about-me-text h1 {
        font-size: 2rem;
        color: #1c3548;
    }
    .about-me li {
        line-height: 1.5rem;
    }
    .about-me h3 {
        margin-top: 1rem;
    }
}

@media only screen and (max-width: 400px) {
    body {
      background-color: rgb(214, 236, 243);
    }

    .projects h2{
        font-size: 1rem;
    }

    .main-text{
        margin: 1rem 0;
        
    }

    .main-text h1 {
        font-size: 1rem;
        line-height: 20px;
        text-align:left;
    }

    .main-text p{
        font-size: 1rem;
    }

    .model-sm img{
        width: 100%;
        
        height: auto;
        margin-top: 1rem;
    }

  }


